@import "bootstrap";
@import "compass/css3";
@import "mixin";
@import "fort";
@import "vpr";
@import "vpr-svg";
@import "ionicons";
@import "video";
@import "form";
@import "band_detail";

.molat {
    font-family: Molot;
    font-size: 48px;
    line-height: 55px;
}

hr {
    border-top: 5px solid lighten($purple, 10%);
}

h1, h2, h3 {
    font-family: Molot;
}

#underwriter {
    margin: 0 auto 30px;
    @media (min-width: $tablet) {
        float: right;
    }
}

.navbar {
    min-height: 63px;
    @media (max-width: $phone) {
        min-height: 45px;
    }
    .navbar-header {
        @media (max-width: $tablet) {
            padding: 0 15px 0;
        }
        #navbar-title {
            a {
                color: lighten($gold, 10%);
                &:hover {
                    color: $blue;
                }
            }
            font-size: 36px !important;
            @media (max-width: $phone) {
                font-size: 24px !important;
            }
            font-family: Molot;
            span.live_from {
                font-family: GrandHotel Regular;
            }
            @media (max-width: $tablet) {
                text-align: left !important;
            }
        }

        #social-logos {
            top: 8px !important;
            @media (max-width: $phone) {
                top: 0 !important;
            }
            li {
                i.icon {
                    @media (max-width: $phone) {
                        font-size: 24px !important;
                    }
                }
            }
        }

        #vpr_logo {
            top: 8px !important;
            @media (max-width: $tablet) {
                display: none;
            }
        }
    }
}

.preview {
    margin-bottom: 30px;
    h3.preview_bandname {
        margin-top: 10px;
    }
}

.email_icon {
    font-size: 120px;
    text-align: center;
    color: white;
    line-height: 100px;
}

.email_signup {
    min-width: 300px;
}
