@import "bootstrap";
@import "compass/css3";
@import "mixin";
@import "fort";
@import "vpr";
@import "vpr-svg";
@import "ionicons";
@import "video";
@import "form";
@import "band_detail";

hr {
    border-color: lighten($purple, 40%);
}

#underwriter {
    margin: 0 auto 30px;
    @media (min-width: $tablet) {
        float: right;
    }
}

#navbar-title {
    color: $gold2;
    font-size: 42px;
    font-family: Molot;
    display: inline;
    position: relative;
    left: 15px;
    .live_from {
        font-family: GrandHotel Regular;
    }
    @media (max-width: $tablet) {
        display: none;
    }
}

.preview {
    margin-bottom: 30px;
    h3.preview_bandname {
        margin-top: 10px;
    }
}
