@import "bootstrap";
@import "compass/css3";
@import "mixin";
@import "fort";
@import "vpr";
@import "vpr-svg";
@import "ionicons";
@import "video";
@import "form";
@import "band_detail";

hr {
    border-top: 5px solid lighten($purple, 10%);
}

h1, h2, h3 {
    font-family: Molot;
}

#underwriter {
    margin: 0 auto 30px;
    @media (min-width: $tablet) {
        float: right;
    }
}

#navbar-title {
    color: lighten($gold, 10%);
    font-size: 42px;
    font-family: Molot;
    display: inline;
    position: relative;
    left: 15px;
    top: 14px;
    &:hover {
        color: $blue;
    }
    @media (max-width: $tablet) {
        display: none;
    }
}

.preview {
    margin-bottom: 30px;
    h3.preview_bandname {
        margin-top: 10px;
    }
}

.email_icon {
    font-size: 120px;
    text-align: center;
    color: white;
    line-height: 100px;
}

.email_signup {
    min-width: 300px;
}
