<div class="col-sm-12 about">
    <h2>About The Project</h2>
      <p><em>Live From The Fort</em> is a music video series by Vermont
  Public Radio. The intimate performances, recorded at VPR studios in
  Colchester's historic Fort Ethan Allen, provide an opportunity to
  discover and explore the rich and diverse contemporary music scene
  Vermont.</p>
      <p>The series seeks musicians from throughout the state working in a
  variety of musical genres. Through the music and casual conversation,
  the series connects music lovers with music makers in Vermont.</p>
      <a name="about"></a>
      <p>In 2016, <em>Live From The Fort</em> partnered with
  <a href="http://www.vuhaus.com/" alt="VuHaus" target="_blank">VuHaus</a>, a digital
  video service that introduces emerging and established artists to new
  audiences around the world.
      </p>
      <p><a
  href="http://www.vpr.net/inside_vpr/contact_us/?subject=Live+From+The+Fort"
  alt="VPR contact form" target="_blank">Contact us</a> with feedback about the project or
to suggest a band to perform!</p>
  <a class="name" href="https://itunes.apple.com/us/podcast/live-from-the-fort/id1021708683?mt=2" alt="iTunes" target="_blank"><img class="img-responsive" src="static/img/App-store-badge-01-01.png" width="100" height="50"></a>
  <a class="name" href="https://play.google.com/music/listen?u=0#/ps/I2orf6b3zeoqbsadnidpvq5wqde" alt="Google Play" target="_blank"><img class="img-responsive" src="static/img/google-play-badge.png" width="117"></a>
</div>
