<div class="col-md-8">
  {% if landing %}
  <div class="row">
    <div class="col-sm-12 about">
        <h2>About The Project</h2>
          <a name="about"></a>
          <p><em>Live From The Fort</em> is a music video series by Vermont
      Public Radio. The intimate performances, recorded at VPR studios in
      Colchester's historic Fort Ethan Allen, provide an opportunity to
      discover and explore the rich and diverse contemporary music scene
      Vermont.</p>
          <p>The series seeks musicians from throughout the state working in a
      variety of musical genres. Through the music and casual conversation,
      the series connects music lovers with music makers in Vermont.</p>
          <p><a
      href="http://www.vpr.net/inside_vpr/contact_us/?subject=Live+From+The+Fort"
      alt="VPR contact form" target="_blank">Contact us</a> with feedback about the project or
    to suggest a band to perform!</p>
    </div>
  </div>
  {% endif %}
</div>
