<div class="col-md-8">
  {% for band in bands %}
      {% if loop.first %}
          {% if landing %}
              <p class="this_month">LIVE FROM THE FORT</p>
          {% endif %}
          <h2 class="featured_band">
              {% if landing %}
                Artists
                <hr class="side">
              {% endif %}
          </h2>
      {% elif loop.last %}
          {% if loop.index % 2 == 0 %}
              <div class="row">
                  <div class="preview col-sm-6">
                      <div class="video_tease">
                          {% include "_video_tease.html" %}
                      </div>
                      {% if band.video %}
                      <h3 class="preview_bandname"><a class="bandname" href="{{
                          url_for('band_page', bandname=band.slug)}}" alt="{{ band.bandname }}'s performance">{{ band.bandname }}</a></h3>
                      {% else %}
                      <h3 class="preview_bandname">{{ band.bandname }}</h3>
                      {% endif %}
                      <hr class="side">
                  </div>
              </div>
          {% else %}
                <div class="preview col-sm-6">
                    <div class="video_tease">
                        {% include "_video_tease.html" %}
                    </div>
                    {% if band.video %}
                    <h3 class="preview_bandname"><a class="bandname" href="{{
                        url_for('band_page', bandname=band.slug)}}" alt="{{ band.bandname }}'s performance">{{ band.bandname }}</a></h3>
                    {% else %}
                    <h3 class="preview_bandname">{{ band.bandname }}</h3>
                    {% endif %}
                    <hr class="side">
                </div>
            </div>
          {% endif %}
      {% else %}
          {% if loop.index % 2 == 0 %}
          <div class="row">
          {% endif %}
              <div class="preview col-sm-6">
                  <div class="video_tease">
                      {% include "_video_tease.html" %}
                  </div>
                  {% if band.video %}
                  <h3 class="preview_bandname"><a class="bandname" href="{{
                      url_for('band_page', bandname=band.slug)}}" alt="{{ band.bandname }}'s performance">{{ band.bandname }}</a></h3>
                  {% else %}
                  <h3 class="preview_bandname">{{ band.bandname }}</h3>
                  {% endif %}
                  <hr class="side">
              </div>
          {% if loop.index % 2 != 0 %}
          </div>
          {% endif %}
      {% endif %}
  {% endfor %}
</div>
