<div class="col-md-4">
  <div class="row">
    <div id="underwriter">
        <h3>Subscribe to the Podcast</h3>
        <p><a class="name" href="https://itunes.apple.com/us/podcast/live-from-the-fort/id1021708683?mt=2" alt="iTunes" target="_blank"><img class="badge-responsive" src="static/img/apple-podcasts.svg" width="126"></a>
        <a class="name" href="https://play.google.com/music/listen?u=0#/ps/I2orf6b3zeoqbsadnidpvq5wqde" alt="Google Play" target="_blank"><img class="badge-responsive" src="static/img/google-play-badge.png" width="117"></a></p>
        <br>
    </div>
  </div>
</div>
