<p class="this_month">VUHAUS</p>
<h2 class="featured_band">
  <a class="bandname" href="http://www.vuhaus.com/" alt="Song Of The Day">Song Of The Day</a>
</h2>
<style>.embed-container { position: relative; padding-bottom: 57.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'>  <iframe width='560' height='315' src='http://www.vuhaus.com/embed/v2/songoftheday' frameborder='0' allowfullscreen></iframe></div>
<p>Partnered with <em>Live From The Fort</em>, <a href="#vuhaus">VuHaus</a> is a non-profit digital video service that introduces emerging and established artists to new audiences around the world.</p>
<hr>
