{% extends "base.html" %}

{% block title %}{{ page_title }} | VPR{% endblock %}

{% block content %}
<div class="container {% if landing %}landing{% else %}band_page{% endif %}">
    <div class="row">
        {% include "_latest_video.html" %}
        {% include "_underwriter1.html" %}
        {% include "_subscribe.html" %}
        {% include "_main_block.html" %}
        {% include "_underwriter2.html" %}
        {% include "_underwriter3.html" %}
        {% include "_about.html" %}
        {% include "_email_form.html" %}
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var LFTF = LFTF || {};
    LFTF.iframeSrc = '{{ bands.0.video }}';
</script>
{% endblock %}
