{% extends "base.html" %}

{% block title %}{{ page_title }} | VPR{% endblock %}

{% block content %}
<div class="container {% if landing %}landing{% else %}band_page{% endif %}">
    <div class="row">
        <div class="col-md-8">
            {% include "_main_block.html" %}
            {% include "_about.html" %}
        </div>
        <div class="col-md-4">
            {% include "_sidebar.html" %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var LFTF = LFTF || {};
    LFTF.iframeSrc = '{{ bands.0.video }}';
</script>
{% endblock %}
