{% extends "base.html" %}

{% block title %}{{ page_title }} | VPR{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
        {% for band in bands %}
            {% if loop.first %}
                <div class="video_wrapper">
                    <div class="featured video_tease">
                        {% include "_video_tease.html" %}
                    </div>
                </div>
                <h2>{{ band.bandname }}</h2>
                <hr>
            {% else %}
                {% if loop.index is divisibleby 2 %}
                <div class="row">
                {% endif %}
                    <div class="col-sm-6">
                        <div class="video_tease">
                            {% include "_video_tease.html" %}
                        </div>
                        <h3>{{ band.bandname }}</h3>
                    </div>
                {% if loop.index0 is divisibleby 2 %}
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
        <div class="col-md-4">
            {% include "_sidebar.html" %}
        </div>
    </div>
</div>

{% endblock %}
